/* Add This */
ul.add-this {
    float: right;
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}
ul.add-this li {
    float: left;
    margin-left: 5px;
}
ul.add-this li:first-child {
    margin-left: 0;
}
ul.add-this a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    background-color: #c74d28;
    color: #fff;
}

/*** Mobile ***/ 
@media only screen and (max-width: 40em) {
    ul.add-this {
        display: inline-block;
      float: none;
      margin: 10px auto;
    }
}